<!-- Add Foyer Component HTML -->
<div class="container" class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="formbold-main-wrapper">
    <div class="formbold-form-wrapper">
      <form #foyerForm ="ngForm" (ngSubmit)="creerFoyer($event)">
        <div class="formbold-form-title">
          <h2 class="">Add Foyer</h2>
        </div>
        <div class="formbold-mb-3">
          <label class="formbold-form-label">Nom du Foyer:</label>
          <input class="formbold-form-input" (keyup)="test(nomfoyer.errors)" type="text" name="nomfoyer" [(ngModel)]="foyer.nomFoyer" #nomfoyer="ngModel" required>
        </div>
        <br>
        <div *ngIf="nomfoyer.invalid" class="ng-invalid">

          <div *ngIf="nomFoyer.errors['required']">
            Empty Field !
          </div>
        </div>
        <br>

        <div class="formbold-mb-3">
          <label class="formbold-form-label">Capacité du Foyer:</label>
          <input class="formbold-form-input" type="number" (keyup)="test(capacitefoyer.errors)"  [(ngModel)]="foyer.capaciteFoyer" name="capacitefoyer" #capacitefoyer="ngModel" required>
        </div>
        <br>
        <div *ngIf="capacitefoyer.invalid" class="ng-invalid">

          <div *ngIf="capaciteFoyer.errors['required']">
            Empty Field !
          </div>
        </div>
        <br>

        <!-- Other input fields can be added as needed -->

        <button class="formbold-btn" [disabled]="foyerForm.invalid">Ajouter le Foyer</button>

      </form>
    </div>
  </div>
</div>
